*,
html {
  font-family: 'Roboto';
  font-size: 14px;
}

body {
  background-color: $white;
  color: $gray-900;
}

hr {
  border-color: $primary;
}

[class*='col-'] {
  margin-bottom: $spacer-3;
}
