.card {
  background-color: $gray-100;
  padding: $spacer-3;
  box-shadow: 3px 3px 10px #{$gray-200};

  &__header {
    .title {
      border-bottom: 1px solid #{$primary};
      font-size: $font-xl;
      color: $primary;
    }
  }
}
