.login-form,
.register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  border: 1px solid $gray-500;

  &__body {
    padding: $spacer-3;
  }

  &__footer {
    padding: $spacer-1 $spacer-3;
    background-color: $gray-200;
    text-align: right;
  }
}
