.navigation {
  width: 200px;
  height: 100%;
  position: fixed;
  background-color: $gray-700;
  top: 0;
  left: 0;
  &__container {
  }

  &__user {
    padding: $spacer-2 0;
    border-bottom: 1px solid #{$gray-500};
    margin: 0 $spacer-2;

    img {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      border: 3px solid #{$primary};
    }
  }

  &__user-details {
    margin: 5px 0px;

    p {
      margin: 0;

      @extend .text-truncate;
    }

    .description {
      font-size: 12px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: $spacer-2;

    li {
      &:nth-child(1) {
        span {
          left: -3px;
        }
      }

      &:nth-child(7) {
        span {
          left: -3px;
        }
      }
    }

    a {
      color: $gray-500;
      display: block;
      text-decoration: none;
      padding: $spacer-2;

      &:hover {
        background-color: $gray-800;
      }

      svg {
        width: 30px !important;
        position: relative;
        left: -7px;
      }

      span {
        position: relative;
      }
    }

    .list {
      margin-left: $spacer-2;
    }
  }
}
